<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crypto Playground</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">Crypto Playground</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% block acitve_ascii_bin_dec_hex %}{% endblock %}" href="/">ASCII/Bin/Dec/Hex</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block active_encoding %}{% endblock %}" href="/encoding">Encoding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% block active_get_hash_flag %}{% endblock %}" href="/get-hash-flag">Get Hash Flag</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% block active_aes %}{% endblock %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                AES
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/aes/aes">AES</a></li>
                <li><a class="dropdown-item" href="/aes/aes-ecb-mode">AES ECB Mode</a></li>
                <li><a class="dropdown-item" href="/aes/xor">XOR</a></li>
                <li><a class="dropdown-item" href="/aes/aes-cbc-mode">AES CBC Mode</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% block active_rsa %}{% endblock %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                RSA
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/rsa/rsa">RSA</a></li>
                <li><a class="dropdown-item" href="/rsa/rsa-signature">RSA Signature</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>